.container-createUser {
     max-width: 60%; 
    /* min-width: 50%  */
}

.avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatar p:hover {
    cursor: pointer;
}

.label-photo-input{
    cursor: pointer;
    margin-bottom: 15px;
}